.main-title {
    display: block;
    box-sizing: border-box;
    width: 100vw;
    height: 15vh;
    text-align: center;

}

/* .main-title h1 {

} */

.main-title h2 {
    color: var(--gray);
    margin-top: -2vh;
}