.search-input-container {
    position: relative;
    width: 100vw;
    margin-top: 2.5vh;
    margin-bottom: 3vh;
}

.search-input {
    width: 12vw;
    height: 5vh;
    border: 1.5px solid var(--primary-color);
    border-radius: 5px;
    padding-left: 0.5vw;
    font-size: 1.2vw;
    margin-left: 68.4vw;
}

.search-icon {
    position: absolute;
    height: 2.5vh;
    left: 10.5vw;
    top: 28%;
    border-left: 1px solid var(--primary-color);
    padding-left: 0.5vw;
    margin-left: 68.4vw;
}

@media (max-width: 768px) {
    .search-input-container {
        margin-left: 68vw;
        margin-top: 7.5vh;
    }
    
    .search-input {
        width: 23vw;
        height: 4vh;
        font-size: 1.4em;
        padding-left: 1vw;
    }

    .search-icon {
        left: 19vw;
        padding-left: 0.9vw;
        height: 2vh;
    }
}