.navbar {
    position: fixed;
    display: flex;
    background: var(--primary-color);
    gap: 2.5vw;
    align-items: center;
    padding-left: 10vw;
    height: 8vh;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.navbar img {
    width: 2vw;
    height: auto;
    cursor: pointer;
}


.navbar img:hover {
    opacity: 0.5;
}

.navbar-header {
    font-size: 1.5vw;
}

@media (max-width: 768px) {
    .navbar {
        padding-left: 20vw;
        gap: 4vw;
    }

    .navbar img {
        width: 4.5vw;
    }

    .navbar-header {
        font-size: 4vw;
    }
}